/*1760*/
@media screen and (max-width: 1760px) {
    #advice .form {
        top: 190px;
    }
    .slider .Blockswrapper .wrap:first-of-type p:first-of-type {
        font-size: 32px;
    }
    .slider .Blockswrapper .wrap:first-of-type .text p:last-of-type {
        font-size: 26px;
    }
    .slider .Blockswrapper .wrap .text ul {
        font-size: 19px;
    }
}
/*1580*/
@media screen and (max-width: 1580px) {
    .slider .Blockswrapper .wrap .text {
        padding-top: 185px;
    }
}
/*1680*/
@media screen and (max-width: 1680px) {
    #advice .form {
        top: 175px;
    }
}
/*1505*/
@media screen and (max-width: 1505px) {
    #advice .form {
        padding: 30px 30px 30px;
    }
}
/*1460*/
@media screen and (max-width: 1460px) {
    #advice .form {
        top: 160px;
    }
}
/*1415*/
@media screen and (max-width: 1415px) {
    #advice .form > span:first-of-type {
        font-size: 18px;
    }
    #advice .form > span:first-of-type span {
        font-size: 19px;
    }
    #advice .form {
        top: 145px;
    }
}
/*1340*/
@media screen and (max-width: 1340px) {
    #advice .form {
        top: 140px;
        width: 287px;
        text-align: center;
    }
    #advice .form #form_advice {
        text-align: left;
    }
    #advice .form .form-group {
        display: inline-block;
        vertical-align: top;
    }
    #advice .form .form-group:last-of-type {
        margin-right: 0;
    }
    #advice .width .form input {
        width: 234px;
    }
    #advice .form img {
        margin-right: 8px;
    }
    #advice .form > span:first-of-type span {
        display: inline-block;
        font-size: 18px;
    }
    #advice .form > span:first-of-type span.hidden {
        display: none;
    }
    #advice .form > span:first-of-type span.exo,
    #advice .form > span:first-of-type {
        display: inline-block;
        font-weight: 300;
        font-size: 16px;
    }
    #advice .form > span:first-of-type {
        letter-spacing: normal;
    }
    #advice .width .form button {
        margin-top: 20px;
    }
    #advice #form_advice > span {
        display: block;
        text-align: center;
    }
    .wrap:first-of-type p:first-of-type {
        font-size: 28px;
    }
    .wrap:first-of-type .text p:last-of-type {
        font-size: 24px;
    }
    .slider .Blockswrapper .wrap .text {
        padding-top: 125px;
    }
    #more .questions {
        background: url(/images/system/more.jpg) no-repeat top center;
        background-size: 100% auto;
    }
    #more .questions .form {
        background-attachment: scroll;
    }
    .seo {
        background: url("/images/system/seo-bg.jpg") top center;
        background-attachment: scroll;
        background-size: 100% auto;
    }
    .simple {
        background: url(/images/system/main-bg-benefit2.jpg) no-repeat;
        background-size: auto 100%;
    }
    .cooperation {
        background: url(/images/system/bg-recall-white.png) no-repeat bottom center;
    }
    .cooperation .form,
    #opinions .opin-block .form {
        background: rgba(64, 91, 121, 0.88);
    }
    #opinions {
        background: transparent url(/images/system/key-bg2.jpg) no-repeat top center;
        background-size: auto 100%;
    }
    .key {
        margin-top: -26px;
    }
}